# Push Notifications
VITE_VAPID_PUBLIC_KEY=BK-o7GJxgvS-Po09cPiA-B5ZMRbELqqGIk5VBvcJHd6ai4VbWxQ6YbV_3LWmGFdthL_57VLHjCI4jqtny_vVMp4
VAPID_PRIVATE_KEY=rfQyHdalacHfq1uJDtMkYBx8GutEtHxaRaMSWfqz7Ak
VAPID_SUBJECT=mailto:hadirin@example.com
NUDGE_SECRET=xx
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imlqemd1aXBzc3licHZsdmRyeHlkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODUzNzI2NywiZXhwIjoyMDk0MTEzMjY3fQ.YC0Ea2rfmcVzjc7EQrlsnhgePdxFFf7uDolS-MoV0Ec

# AI Model API Keys (Groq or xAI)
GROQ_API_KEY=
XAI_API_KEY=

