# Push Notifications
VITE_VAPID_PUBLIC_KEY=BK-o7GJxgvS-Po09cPiA-B5ZMRbELqqGIk5VBvcJHd6ai4VbWxQ6YbV_3LWmGFdthL_57VLHjCI4jqtny_vVMp4
VAPID_PRIVATE_KEY=rfQyHdalacHfq1uJDtMkYBx8GutEtHxaRaMSWfqz7Ak
VAPID_SUBJECT=mailto:hadirin@example.com
